* {
  margin: 0;
}
.App {
  position: relative;
}

.swiper-button-next {
  right: 20px !important;
  color: white !important;
}

.swiper-button-prev {
  color: white !important;
}

a {
  text-decoration: none !important;
}
